<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>

        <target name="file" xsi:type="File" fileName="${basedir}/log/${shortdate}.txt" encoding="utf-8" />

        <target xsi:type="ColoredConsole"
                name="console"
                encoding="utf-8"
                useDefaultRowHighlightingRules="true"
                detectConsoleAvailable="true">
        </target>

    </targets>

    <rules>

        <logger name="*" minlevel="Trace" writeTo="file,console" />

    </rules>

</nlog>